<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>My Todo List</title>

  </head>
  <body>

    <% if (kindOfDay == 'Saturday' || kindOfDay == 'Sunday') {%>
      <h1 style="color:purple"><%= kindOfDay %> Todo List</h1>
    <% } else {%>
      <h1 style="color:blue"><%= kindOfDay %> Todo List</h1>
      <% } %>

      <ul>
       <% for (let i = 0; i < todoItems.length; i++) { %>
          <li><%= todoItems[i] %></li>
        <% } %>
      </ul>

      <form action="/" method="post">
        <input type="text" name="todo" id="todo">
        <button type="submit" name="button">Add</button>
      </form>

    <script src="app.js" charset="utf-8"></script>
  </body>

  <footer>
    www 🎲 Big Daddy Productions 🎲 com
  </footer>
</html>
